@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  overflow-x: hidden;
}
body {
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}
body.modal-open,
html.modal-open {
  overflow: hidden;
}